<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('主页')" ></head>
<body>
<div th:replace="include/admin/adminTop::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri:'adminListDisableInfo',
            location:'',
            pagination:{},
            beans: []
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            methods: {
                list:function(start){
                    var url =  this.uri + "?start=" + start;
                    var formData = new FormData();
                    axios.get(url,
                        {headers: {_csrf_token: window.localStorage.getItem("_csrf_token"), timestamp: Date.parse(new Date())}}
                    ).then(function(response) {
                        vue.beans = response.data.data.content;
                        vue.pagination = response.data.data;
                        var _csrf_token = response.headers._csrf_token;
                        window.localStorage.setItem("_csrf_token", _csrf_token);
                    });
                },
                logout:function(){
                    var url =  'logout';
                    axios.post(url,this.user).then(function(response) {
                        var result = response.data;
                        if (result.status == "success") {
                            location.href="home";
                        } else {
                            alert(result.message)
                        }
                    })
                },
                delInfo:function (id) {
                    var url =  'adminDeleteInfos';
                    var formData = new FormData();
                    formData.append("id", id);
                    axios.post(url, formData).then(function(response) {
                        var result = response.data;
                        if (result.status == "success") {
                            alert('del success')
                        } else {
                            alert(result.message)
                        }
                    })
                },
                enableInfo:function (id) {
                    var url =  'adminEnableInfo';
                    var formData = new FormData();
                    var timestamp = Date.parse(new Date());
                    formData.append("pid", id);
                    axios.post(url, formData,
                        {headers: {"_csrf_token": window.localStorage.getItem("_csrf_token"), "timestamp": timestamp}}).then(function(response) {
                        var result = response.data;
                        if (result.status == "success") {
                            alert('verified success')
                        } else {
                            alert(result.message)
                        }
                        window.localStorage.setItem("_csrf_token", response.headers._csrf_token);
                    })
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }

            }
        });

        Vue.filter('formatDateFilter', function (value, formatString) {
            if(null==value)
                return "";
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
            return moment(value).format(formatString);
        });
    });

</script>
<div id="workingArea" >
    <a href="#nowhere" @click="logout">退出</a>
    <div th:replace="include/admin/adminTop2::html" ></div>
    <br>
    <br>

    <div class="panel-body">
        <table class="addTable">
            <tr class="submitTR">
                <td colspan="2" align="center">
                    <a href="#nowhere"  @click="list(0)" class="btn btn-success">查看所有禁用的停车场</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>图片</th>
                <th>车位名称</th>
                <th>坐标</th>
                <th>提交时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    <img height="40px"  :src="'static/img/info/'+bean.id+'.jpg'">
                </td>
                <td>
                    {{bean.name}}
                </td>
                <td>
                    {{bean.longitude + "," + bean.latitude}}
                </td>
                <td>
                    {{bean.infoSubmitDate  | formatDateFilter}}
                </td>
                <td>{{bean.state}}</td>
                <td>
                    <a href="#" @click="enableInfo(bean.id)" >还原</span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="include/admin/adminPage::html" ></div>
</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>